<div id="users">
  <h1>All the users</h1>

  <table>
    <th>Name</th>
    <th>Emails</th>
    <th>Access level</th>
    <% _.each(users, function(user) {%>
      <tr>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td><%=user.rights%></td>
        <td>
          <form action="/user/destroy/<%=user.id%>" method="post">
            <button type="submit" class="button"/>Delete</button>
          </form>
        </td>
      </tr>
      <%})%>
    </table>

</div>
